#lay_top{height: 50px;line-height: 50px;background-color:blueviolet;font-size: 1.5em;text-align: center;}
#lay_top p{width: 100%;}
#lay_left{background-color:antiquewhite;font-size: 1.5em;text-align: center;}
#lay_left p{width: 100%;}
#lay_contents{font-size: 12px; padding: 20px 10px;}
#lay_contents th{text-align: center;}
#lay_contents td{padding: 5px;}
#lay_bottom{height: 50px;line-height: 50px;background-color:greenyellow;font-size: 1.5em;text-align: center;}
#lay_bottom p{width: 100%;}

