<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--
        computed 의 get/set 속성 :
        입력 시에는 set에 정의된 메소드가, 
        출력 시에는 get에 정의한 메소드가 자동으로 호출되는 기능
    -->
    <script>
        $(function(){
            var vue = new Vue({
                el:'#app',
                data:{
                    title:'Computed 의 set/get분리',
                    amt:123456
                },
                computed:{
                    amount:{
                        // 화면에 출력할 때 처리되는 메소드.(머스테쉬 통해 amount 출력)
                        get: function(){
                            console.log('#get 호출');
                            // 모델데이터를 가져와서 String객체 생성
                            var s = new String("" + this.amt);
                            var result ='';
                            var num = 0;
                            // amt의 데이터가 변경될 때마다 1000단위로 삽입함
                            for(var i = s.length - 1; i>=0; i--){
                                result = s[i] + result;
                                /*
                                num이 0부터 시작이므로 2, 5가 될 때, 3번째/6번째가 되므로
                                이때 콤마를 문자열에 추가해줌
                                */
                                if(num %3 == 2 && i!==0){
                                    result = ',' + result;
                                }
                                num++;
                            }
                            return result;
                        },
                        // 입력값이 있을 때 해당 메소드를 통해 데이터를 전달받음
                        set : function(param){
                            console.log("#set 호출");
                            if(typeof(amt) == 'string'){
                                /*
                                파라미터로 전달되는 문자열의 컴마를 제거한 후, 숫자로 변경
                                param이 
                                    12345s => 12345
                                    s12345 => 0이 amt에 입력됌

                                */
                                var result = parseInt(amt.replace(/,/g,''));
                                if(isNaN(result)){
                                    this.amt = 0;
                                }
                                else{
                                    this.amt = result;
                                }                                
                            }
                            else if(typeof(amt) === 'number'){
                                // 타입이 숫자면 그대로 사용
                                this.amt = amt;
                            }
                        }
                    }
                }
            });
        });
    </script>
</head>
<body>
    <div id="app">
        <h2>{{title}}</h2>
        <input v-model="amt" placeholder="숫자 입력">
        <input v-model="amount" readonly><br> <!-- amount의 set메소드 호출-->
        금액: <span>{{amount}}원</span> <!-- amount의 get메소드 호출 -->
    </div>
</body>
</html>