<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        $(function(){
            // 모델데이터 외부 선언
            var model = {
                title:'computed > 검색기능 구현',
                countryName : "",
                countries: [
                { no:1,  name : "미국", capital : "워싱턴DC", region:"america" },
				{ no:2,  name : "프랑스", capital : "파리", region:"europe" },
				{ no:3,  name : "영국", capital : "런던", region:"europe" },
				{ no:4,  name : "중국", capital : "베이징", region:"asia" },
				{ no:5,  name : "태국", capital : "방콕", region:"asia" },
				{ no:6,  name : "모로코", capital : "라바트", region:"africa" },
				{ no:7,  name : "라오스", capital : "비엔티안", region:"asia" },
				{ no:8,  name : "베트남", capital : "하노이", region:"asia" },
				{ no:9,  name : "피지", capital : "수바", region:"oceania" },
				{ no:10,  name : "솔로몬 제도", capital : "호니아라", region:"oceania" },
				{ no:11,  name : "자메이카", capital : "킹스턴", region:"america" },
				{ no:12,  name : "나미비아", capital : "빈트후크", region:"africa" },
				{ no:13,  name : "동티모르", capital : "딜리", region:"asia" },
				{ no:14,  name : "멕시코", capital : "멕시코시티", region:"america" },
				{ no:15,  name : "베네수엘라", capital : "카라카스", region:"america" },
				{ no:16,  name : "서사모아", capital : "아피아", region:"oceania" }
                ]
            }
            var vue = new Vue({
                el:'#app',
                data: model,
                computed:{
                    filtered : function(){
                        // 검색 위해 입력한 국가명
                        var cname = this.countryName;
                        return this.countries.filter(function(item, index){
                            /*
                            모델 데이터 countries 갯수만큼 반복하면서 각 객체를 item으로 반환
                            반환된 객체의 name과 우리가 입력한 국가명을 비교하여
                            검색결과가 존재할 때만 값을 반환
                            */
                            if(item.name.indexOf(cname) > -1){
                                return true;
                            }
                        });
                    }
                }
            });
        });
    </script>
</head>
<body>
    <div id="app">
        <h2>{{title}}</h2>
        <div>
            <!--
                검색을 위해 입력한 국가명은 모델데이터 countryName에 실시간 반영
            -->
            국가명: <input type="text" v-model='countryName' placeholder="검색할 국가명을 입력하세요.">
        </div>
        <table border="1">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>국가명</th>
                    <th>수도</th>
                    <th>지역</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <!--
                computed속성의 결과로 반환되는 filtered는 여러 결과값을 가지므로,
                v-for 디렉티브를 이용해서 반복 출력
                -->
                <tr v-for="c in filtered">
                    <td>{{c.no}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.capital}}</td>
                    <td>{{c.region}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>